<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
        <form action="" method="post" role="form">
            <input type="hidden" name="" value="">
            <legend>Look for a movie</legend>

            <div class="form-group">
                <label for="Title"></label>
                <input type="text" class="form-control" name="Title" id="Title" placeholder="What do you want to see ?" required="required" value="">
            </div>

            <div class="form-group">
                <label for="Type"> Select your type</label>
                <select id="Type" class="form-control" name="Type">
                    <option value="movie">Movie</option>
                    <option value="series">Serie</option>
                    <option value="episode">Episode</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Year"></label>
                <input type="text" class="form-control" name="Year" id="Year" placeholder="What year ?" value="">
            </div>
            <button type="submit" class="btn btn-primary">Give me a movie</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">Liste des contacts</div>
            <form action="" method="post" id="formList" name="formList">
                <input type="hidden" name="id" id="id" value="">
                <table class="table">
                    <tr>
                        <th class="text-center">ImdbID</th>
                        <th class="text-center">Movie title</th>
                        <th class="text-center">Year</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Poster</th>
                    </tr>
                    {% for record in json %}
                    <tr>
                        <td class="text-center">{{ record.imdbID }}</td>
                        <td class="text-center">{{ record.Title }}</td>
                        <td class="text-center">{{ record.Year }}</td>
                        <td class="text-center">{{ record.Type }}</td>
                        <td class="text-center"><img src="{{ record.Poster }}"></td>
                    </tr>{% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
