<!doctype html>
<html lang="fr">

{{ include ('partial/head.html.twig') }}

<body>

<div class="container-fluid">
    <header>
        {{ include ('partial/header.html.twig') }}
    </header>
    <main>
        {{ include ('home.html.twig') }}
    </main>
    <footer>
        {{ include ('partial/footer.html.twig') }}
    </footer>
</div>
{{ include ('partial/script.html.twig') }}
</body>
</html>